
# COPIAR ESTE ARCHIVO A .env Y CONFIGURAR

PORT=3000
NODE_ENV=development

# Base de datos
DB_HOST=localhost
DB_PORT=6543
DB_NAME=ecommerce_bd
DB_USER=postgres
DB_PASSWORD=tu_password
DB_SSL=true

# JWT
JWT_SECRET=genera_una_clave_secreta_aqui
JWT_EXPIRES_IN=8h